@page
@model WebApp.Pages.AboutUsModel
@{
    ViewData["Title"] = "O nás";
}

<div class="text-start w-75 mx-auto my-4">

    <h1>@ViewData["Title"]</h1>

    <h4>
        Ekonoprint – Partner pre vaše úspešné projekty s viac ako 15 ročnou tradíciou
    </h4>
    <p>
        Vitajte na stránkach spoločnosti Ekonoprint, kde sa vášeň pre remeslo snúbi s najmodernejšími technológiami 
        a dlhoročnými skúsenosťami. Už viac ako 15 rokov sme spoľahlivým partnerom pre tisíce klientov, 
        ktorým pomáhame pretvárať ich vízie do hmatateľnej reality. Naša cesta sa začala s odhodlaním prinášať kvalitnú tlač 
        a postupne sme sa rozrástli na komplexného poskytovateľa služieb v oblasti vydavateľstva a marketingu.
    </p>
    <h4>
        Naše hodnoty a filozofia
    </h4>
    <p>
        V jadre nášho fungovania stoja tri kľúčové hodnoty: kvalita, spoľahlivosť a inovácia. Veríme, 
        že len nekompromisná kvalita práce, dodržiavanie termínov a neustále hľadanie nových a efektívnejších riešení 
        sú cestou k spokojnosti našich klientov a nášmu dlhodobému úspechu. Každý projekt je pre nás jedinečný príbeh, 
        ktorému venujeme plnú pozornosť a osobný prístup.
    </p>
    <h4>
        Naše komplexné služby
    </h4>
    <p>
        <b>
            Tlačiareň, na ktorú sa môžete spoľahnúť
        </b>
        <br/>
        Ako hrdí pokračovatelia tradičného tlačiarenského remesla vieme, že detail je kľúčový. Či už ide o knižnú tlač
        pre náročných autorov a vydavateľov, precíznu tlač brožúr, katalógov, letákov alebo akýchkoľvek iných propagačných
        materiálov, garantujeme špičkový výsledok. Využívame najmodernejšie technológie digitálnej a ofsetovej tlače,
        širokú škálu materiálov a finálnych úprav, aby vaše tlačoviny nielen vyzerali skvele, ale aj vydržali.
        Od výberu papiera, cez voľbu väzby, až po ekologické riešenia – sme tu, aby sme vás previedli celým procesom.
    </p>
    <p>
        <b>
            Vydavateľstvo: Od rukopisu k čitateľovi
        </b>
        <br/>
        Sme viac než len tlačiareň – sme aj skúsené vydavateľstvo, ktoré pomáha autorom a organizáciám uviesť ich diela
        na svet. Poskytujeme kompletný vydavateľský servis, ktorý zahŕňa jazykovú a redakčnú úpravu, korektúry,
        grafický návrh obálky a vnútorného layoutu, pridelenie ISBN, marketingovú podporu a efektívnu distribúciu.
        Naše knihy nájdete vo významných kníhkupectvách ako Panta Rhei a v ďalších online aj kamenných predajniach.
        Sme hrdí na rôznorodosť našich titulov, od beletrie a poézie až po odbornú literatúru a učebnice.

    </p>
    <p>
        <b>
            Marketing: Vaša značka v centre pozornosti
        </b>
        <br/>
        Rozumieme, že skvelý produkt si vyžaduje aj skvelú propagáciu. Preto ponúkame rozsiahle marketingové služby,
        ktoré vašej značke pomôžu dosiahnuť jej plný potenciál. Náš tím odborníkov vám pomôže s návrhom
        a realizáciou reklamných kampaní, tvorbou pútavých propagačných materiálov, výrobou reklamných predmetov
        a s komplexnými riešeniami pre digitálny marketing. Od stratégie cez tvorbu obsahu pre sociálne siete,
        až po optimalizáciu webových stránok – sme vaším partnerom pre viditeľnosť a rast.
    </p>
    <p>
        Ďakujeme, že ste prejavili záujem o našu spoločnosť. Tešíme sa na spoluprácu a na to, ako spoločne premeníme 
        vaše nápady na úspešné projekty!
    </p>
</div>