@page
@model WebApp.Pages.ContactModel
@{
    ViewData["Title"] = "Kontakt";
}
<div class="text-start">

    <h1>@ViewData["Title"]</h1>
    <div class="row">
        <div class="col">
            <h3>Ekonoprint družstvo</h3>
            <p>
                Rudolfa Viesta 66,<br/> 036 01 Martin<br />
                <a href="mailto:dostalmt@gmail.com">dostalmt@gmail.com</a>
                <a href="tel:+421918450530" class="d-block">+421 918 450 530</a>
            </p>
            <p>
                IČO: 45 724 792<br/> 
            </p>
        </div>
        <div class="col d-flex justify-content-center">
            <div class="col">
                <p>
                    Predseda družstva<br/>
                    Ing. Róbert Dostál<br/>
                </p>
            </div>
            <div class="col"> 
                <img src="~/images/RobertDostal.jpg" alt="Owner" class="img-fluid im rounded "/>
            </div>
        </div>
    </div>
</div>