@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-start">

    <div id="carouselIndexCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselIndexCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselIndexCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselIndexCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>

        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/images/marketing.jpg" class="d-block w-100" alt="Marketing carousel image">
                <div class="carousel-caption d-none d-md-block text-decoration-none text-dark ">
                    <a asp-area="" asp-page="/Marketing" >
                        <h5>Marketing</h5>
                    </a>
                    <p>Od nápadu k výsledkom<br/>
                        Stratégie, ktoré prinášajú reálne čísla.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/images/printer.jpg" class="d-block w-100" alt="Publisher carousel image">
                <div class="carousel-caption d-none d-md-block text-decoration-none text-dark ">
                    <a asp-area="" asp-page="/Printer" >
                        <h5>Kníh tlač</h5>
                    </a>
                    <p>Vytvárame knihy s dôrazom na detail,<br/>
                        kvalitné materiály a dlhú životnosť.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/images/publisher.jpg" class="d-block w-100" alt="Publisher carousel image">
                <div class="carousel-caption d-none d-md-block text-decoration-none text-dark ">
                    <a asp-area="" asp-page="/Publisher" >
                        <h5>Vydavateľstvo</h5>
                    </a>
                    <p class="text-light">Vydajte knihu bez starostí<br/>
                        Kompletný servis pre autorov a firmy.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndexCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselIndexCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="w-75 mx-auto my-4">
        <h3>
            Vitajte na stránke Ekonoprint družstvo
        </h3>
        <h5>
            Vašom komplexnom partnerovi pre tlač, vydavateľstvo a marketing

        </h5>
        <p>
            S viac než 15 rokmi skúseností na trhu je Ekonoprint synonymom kvality, spoľahlivosti
            a inovácií v oblasti tlačiarenských služieb. Naša firma sa špecializuje nielen na precíznu knižnú tlač,
            ale aj na komplexné vydavateľské služby a efektívne marketingové riešenia,
            ktoré pomáhajú našim klientom uspieť v konkurenčnom prostredí.
        </p>
        <p>
            Veríme, že každý projekt je jedinečný, a preto ku každému pristupujeme s maximálnou starostlivosťou a profesionalitou.
            Či už potrebujete vytlačiť knihu, brožúru, leták alebo vytvoriť marketingovú stratégiu na mieru,
            náš tím odborníkov je pripravený vás podporiť na každom kroku.
        </p>
        <p>
            Naša dlhodobá prítomnosť na trhu je dôkazom dôvery, ktorú nám klienti prejavujú,
            a zároveň motiváciou neustále zlepšovať naše služby. Spolu s vami chceme tvoriť projekty,
            ktoré zanechajú trvalý dojem a pomôžu vašej značke rásť.
        </p>
        <p>
            Kontaktujte nás a presvedčte sa, prečo je Ekonoprint tou správnou voľbou
            pre vaše tlačiarenské, vydavateľské a marketingové potreby.
        </p>
    </div>
    
    
</div>
