@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-start">

    <div id="carouselIndexCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselIndexCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselIndexCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/images/marketing.jpg" class="d-block w-100" alt="Marketing carousel image">
                <div class="carousel-caption d-none d-md-block text-decoration-none text-dark ">
                    <a asp-area="" asp-page="/Marketing" >
                        <h5>Marketing</h5>
                    </a>
                    <p>Od nápadu k výsledkom<br/>
                        Stratégie, ktoré prinášajú reálne čísla.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/images/printer.jpg" class="d-block w-100" alt="Publisher carousel image">
                <div class="carousel-caption d-none d-md-block text-decoration-none text-dark ">
                    <a asp-area="" asp-page="/Publisher" >
                        <h5>Vydavateľstvo</h5>
                    </a>
                    <p>Vydajte knihu bez starostí<br/>
                        Kompletný servis pre autorov a firmy.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndexCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselIndexCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>

</div>
