@page
@model WebApp.Pages.MarketingModel
@{
    ViewData["Title"] = "Marketing";
}

<div class="text-start w-75 mx-auto my-4">

    <h1>@ViewData["Title"]</h1>

    <p>
        V Ekonoprint spájame kreatívny prístup s dlhoročnou praxou v oblasti marketingu a reklamy, 
        aby sme vašej značke pomohli vyniknúť na trhu. Ponúkame realizáciu reklamných kampaní, 
        tvorbu propagačných materiálov, reklamných predmetov aj digitálnych riešení vrátane tvorby internetových stránok 
        a správy sociálnych sietí.
    </p>
    
    <p>
        Naša marketingová stratégia je postavená na detailnej analýze vašich potrieb a cieľov, 
        čo nám umožňuje pripraviť efektívne kampane, ktoré oslovia správne publikum a zvýšia vašu viditeľnosť. 
        Okrem tradičných reklamných nástrojov využívame aj moderné formy propagácie, vrátane promo akcií 
        a online marketingu, čím zabezpečujeme komplexnú podporu vašej značky.
    </p>
    
    <p>
        Sme partnerom, ktorý vám pomôže nielen vytvoriť atraktívny vizuál a obsah, ale aj efektívne komunikovať 
        s vašimi zákazníkmi. Vďaka našim skúsenostiam a individuálnemu prístupu dokážeme pripraviť riešenia, 
        ktoré prinášajú merateľné výsledky a dlhodobý úspech.
    </p>
    
    <p>
        Kontaktujte nás a spoločne vytvoríme marketing, ktorý vašu firmu posunie na novú úroveň.
    </p>
    
</div>