@page
@model WebApp.Pages.PrinterModel
@{
    ViewData["Title"] = "Kníh tlač";
}

<div class="text-start w-75 mx-auto my-4">

    <h1>@ViewData["Title"]</h1>
    
    <h4 class="ps-5">
        Profesionálna knižná tlač s tradíciou a precíznosťou
    </h4>
    
    <img src="images/printer_v2.jpg" class="img-fluid rounded rounded-3" alt="printer image" />

    <div class="mx-auto my-4">
        <p>
            V Ekonoprinte prinášame vašim knihám život prostredníctvom špičkovej tlače, ktorá spája moderné technológie 
            s dlhoročnými skúsenosťami. Či už ide o menší náklad pre autorov alebo rozsiahlejšiu edíciu pre vydavateľstvá, 
            zabezpečujeme vysokú kvalitu tlače, ktorá zaručí ostré farby, čistý text a odolnú väzbu.
        </p>

        <p>
            Ponúkame širokú škálu možností – od rôznych typov väzieb (mäkká, tvrdá, hrebeňová) cez výber papiera 
            až po grafický dizajn a kompletné spracovanie podkladov. Naša flexibilita vám umožní prispôsobiť tlač 
            presne vašim potrebám a rozpočtu, pričom kladieme dôraz na rýchlosť a spoľahlivosť dodania.
        </p>
    
        <p>
            S Ekonoprint získavate partnera, ktorý rozumie nielen tlači, ale aj vydavateľstvu a marketingu, 
            čím vám pomôže úspešne uviesť vašu knihu na trh a osloviť čitateľov. Dbáme tiež na ekologický prístup, 
            používame šetrné materiály a technológie, ktoré minimalizujú dopad na životné prostredie.
        </p>

        <p>
            Nechajte svoju knihu vyniknúť vďaka profesionálnej tlači, ktorá spája kvalitu, flexibilitu a osobný prístup. 
            <a asp-page="/Contact">Kontaktujte nás</a> a spoločne vytvoríme produkt, ktorý si zaslúži vašu predstavu i čitateľov.
        </p>
    </div>
</div>