@page
@model WebApp.Pages.PublisherModel
@{
    ViewData["Title"] = "Vydavateľstvo";
}

<div class="text-start w-75 mx-auto my-4">

    <h1>@ViewData["Title"]</h1>
    
    <h4 class="ps-5">
        Náš tím vám splní váš sen „vydať vlastnú knihu“.
    </h4>
    
    <p>
        Tvoríme knihy a katalógy od rukopisu až do skladu distribúcie
    </p>
    
    <div class="row">
        <div class="col-md-3 d-flex">
            <div class="card h-100 w-100 bg-dark text-white">

                <img src="images/handwrite_card_v2.jpg" class="card-img h-100 w-100 object-fit-cover" alt="handwriting image">
                
                <div class="card-img-overlay card-img-overlay-darken">
                    <div class="card-body">
                        <h5 class="card-title card-title-divider">Tvorba rukopisu</h5>
                        <p class="card-text">Na začiatku pomôžeme pri tvorbe rukopisu, aby ste sa vyvarovali začiatočníckych chýb.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 d-flex">
            <div class="card h-100 w-100 bg-dark text-white">
                <img src="images/language_card.jpg" class="card-img h-100 w-100 object-fit-cover" alt="language correction image">
                
                <div class="card-img-overlay card-img-overlay-darken">
                    <div class="card-body">
                        <h5 class="card-title card-title-divider">Jazyková korektúra</h5>
                        <p class="card-text">Urobíme jazykovú korektúru knihy.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 d-flex">
            <div class="card h-100 w-100 bg-dark text-white">
                <img src="images/processing_card.jpg" class="card-img h-100 w-100 object-fit-cover" alt="graphic processing image">
                
                <div class="card-img-overlay card-img-overlay-darken">
                    <div class="card-body">
                        <h5 class="card-title card-title-divider">Grafické spracovanie</h5>
                        <p class="card-text">Pripravíme grafické spracovanie s návrhom pre polygrafické spracovanie.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 d-flex">
            <div class="card h-100 w-100 bg-dark text-white">
                <img src="images/printer_card.jpg" class="card-img h-100 w-100 object-fit-cover" alt="printing and distribution image">
                <div class="card-img-overlay card-img-overlay-darken">
                    <div class="card-body">
                        <h5 class="card-title card-title-divider">Tlač a distribúcia</h5>
                        <p class="card-text">Vytlačíme knihu či v mäkkej, alebo tvrdej väzbe a doručíme až do skladu distribútora.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mx-auto my-4">
        <p>
            Sme moderné vydavateľstvo s dlhoročnou tradíciou, ktoré sa venuje vydávaniu kníh rôznych žánrov a tematík.
            Naša práca nekončí len tlačou – poskytujeme kompletný servis od jazykovej a redakčnej úpravy,
            cez grafický dizajn až po distribúciu a predaj kníh v kníhkupectvách a online obchodoch, ako je napríklad Martinus.
        </p>
        <p>
            Podporujeme autorov na každom kroku, aby ich diela dosiahli čitateľov v najvyššej kvalite.
            Vydávame nielen beletriu, ale aj odbornú literatúru, učebné texty, zborníky a ďalšie publikácie,
            ktoré prispievajú k rozvoju kultúry a vzdelávania.
        </p>
        <p>
            Vďaka našim skúsenostiam a profesionálnemu prístupu zabezpečujeme, že každá kniha z našej dielne
            je výsledkom precíznej práce a starostlivosti. S Ekonoprintom získate partnera, ktorý rozumie všetkým aspektom
            vydavateľskej činnosti a pomôže vám úspešne uviesť vaše dielo na trh.
        </p>
    </div>
    
    
    <div>
        <div class="card mb-3" >
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="images/kniha_tal.jpg" class="img-fluid rounded-start" alt="book image - Taliansko a Láska">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <a href="https://www.martinus.sk/2877277-taliansko-a-laska-maju-3-spolocne-veci-cestovanie/kniha" >
                            <h5 class="card-title">Taliansko a láska</h5>
                        </a>
                        <p class="card-text">Spoznajte zaujímavé regióny a mestá, naplánujte si výlety
                            za spoznávaním Talianska a pripravte si a ochutnajte fantastické gastronomické diela.
                            Cestujte do Ríma, Florencie, Benátok, Milána, na juh Talianska a na oveľa viac miest.
                            A to všetko tak, ako vám viac vyhovuje - s cestovnou kanceláriou alebo bez nej,
                            s cestovným sprievodcom alebo bez neho, podľa rád a itinerárov prakticky uvedených
                            v tejto knihe. Len vy a tí, ktorých so sebou na túto úžasnú jazdu Talianskom zoberiete.
                            Pretože Taliansko a láska majú 3 spoločné veci: spoznávanie nových miest, relax v pravom
                            zmysle slova a tú najchutnejšiu gastronómiu. Šťastnú cestu! Buon viaggio!</p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="card mb-3" >
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="images/kniha_VP.jpg" class="img-fluid rounded-start" alt="book image - Veselé príbehy z VB">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <a href="https://www.martinus.sk/2886985-vesele-pribehy-z-vb/kniha" >
                            <h5 class="card-title">Veselé príbehy z VB</h5>
                        </a>
                        <p class="card-text">
                            Hlavným protagonistom je charizmatický a energický mladý muž Samuel Kráľ. 
                            Je až „neznesiteľné“, s akou ľahkosťou si žije. Ako s nadhľadom, rýchlym konaním 
                            a rafinovaným úsmevom dokáže vyriešiť každý kriminálny prípad aj vlastné životné okamihy. 
                            Prekvapiť ho dokážu jedine ženy. Tie v ňom občas vzbudia pochybnosti a zamiešajú mu karty. 
                            Neoslabia však jeho mužnosť a sebavedomie.
                            Predstieranou rozvahou sa snaží prekonávať nevydarené vzťahy. Podarí sa Samovi nájsť životnú lásku?
                            Liekom na ranenú dušu mu je práca. S entuziazmom sa púšťa do nových prípadov, ba veľmi 
                            rád rieši situácie na vlastnú päsť, čo mu neraz spôsobí problémy.
                            Na každodenné absurdnosti v práci – (ne)plnenie nezmyselných príkazov nadriadených – má Samo 
                            so svojimi kolegami zaručený recept – humor. Trojica kolegov-kriminalistov sa dokáže zasmiať na všetkom, 
                            robia si žarty z každého aj zo seba samých, dokážu si odľahčiť život, 
                            a to doslovne – chlapský slovník je toho svedkom.
                            Veselé príbehy z VB je malá kniha s veľkou dávkou humoru, ktorá spestrí a rozveselí deň každému čitateľovi. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="card mb-3" >
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="images/kniha_HKP.jpg" class="img-fluid rounded-start" alt="book image - Hlody, kameňáky a prasačinky ">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <a href="https://www.martinus.sk/895643-hlody-kamenaky-a-prasacinky/kniha" >
                            <h5 class="card-title">Hlody, kameňáky a prasačinky </h5>
                        </a>
                        <p class="card-text">
                            
                            Výberová kniha najlepších a až brutálnych vtipov úspešného autora Vladimíra Skalického. 
                            POZOR kniha obsahuje PRASAčinky, je nevhodná pre mládež do 18 rokov a citlivé povahy. 
                            Vhodná ku konzumácii vínka, pivka a iných destilátov. Nevhodná počas jazdy automobilom. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="card mb-3" >
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="images/kniha_Nohy.webp" class="img-fluid rounded-start" alt="book image - Čas, kdy nohy byly středobodem mého vesmíru  ">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <a href="https://www.martinus.sk/895643-hlody-kamenaky-a-prasacinky/kniha" >
                            <h5 class="card-title">Čas, kdy nohy byly středobodem mého vesmíru</h5>
                        </a>
                        <p class="card-text">
                            Starobylá pouť je součástí světového kulturního dědictví. Už jste o ní slyšeli? 
                            Toužíte se dozvědět více a zažít "Cestu v přímém přenosu"? Tak neváhejte, otevřete 
                            naši knihu a prociťte všechny druhy radostí i bolestí, zázraků a překvapení, 
                            které na Cestě můžete zažít. A pokud se na Cestu chystáte, kniha vám 
                            pošeptá důležité informace. "BUEN CAMINO!" 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
   

</div>