@page
@model WebApp.Pages.PublisherModel
@{
    ViewData["Title"] = "Vydavateľstvo";
}

<div class="text-start w-75 mx-auto my-4">

    <h1>@ViewData["Title"]</h1>

    <p>
        Sme moderné vydavateľstvo s dlhoročnou tradíciou, ktoré sa venuje vydávaniu kníh rôznych žánrov a tematík. 
        Naša práca nekončí len tlačou – poskytujeme kompletný servis od jazykovej a redakčnej úpravy, 
        cez grafický dizajn až po distribúciu a predaj kníh v kníhkupectvách a online obchodoch, ako je napríklad Martinus.
    </p>
    <p>
        Podporujeme autorov na každom kroku, aby ich diela dosiahli čitateľov v najvyššej kvalite. 
        Vydávame nielen beletriu, ale aj odbornú literatúru, učebné texty, zborníky a ďalšie publikácie, 
        ktoré prispievajú k rozvoju kultúry a vzdelávania.
    </p>
    <p>
        Vďaka našim skúsenostiam a profesionálnemu prístupu zabezpečujeme, že každá kniha z našej dielne 
        je výsledkom precíznej práce a starostlivosti. S Ekonoprintom získate partnera, ktorý rozumie všetkým aspektom 
        vydavateľskej činnosti a pomôže vám úspešne uviesť vaše dielo na trh.
    </p>
</div>